
<div class="col-sm-7 col-md-5">
    <div class="card card-accent-primary">
      <div class="card-header">
          Insights
          <div class="card-header-actions">
            <button type="button" class="btn btn-primary" (click)="GetInsights()"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;Get Insights</button>
            <!-- <button type="button" class="btn btn-pill btn-danger" (click)="GetInsights()"><i class="fa fa-line-chart" aria-hidden="true"></i></button> -->
          </div>
      </div>

      <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
              <label class="col-md-4 col-form-label" for="select1">Select Form</label>
                <div class="col-md-8">
                   <select id="select" name="select" class="form-control" [(ngModel)]="FormSelected" (change)="changedrop($event.target.value)">     
                     <option>Select forms</option>                                
                      <option *ngFor="let i of formData" [value]="i.id"> {{i.title}}</option>                
                        </select> 
                  </div>
              </div>
            
<!--             <div class="form-group row">
                <label class="col-md-4 col-form-label" for="select2">Period</label>
                <div class="col-md-8">
                  <select id="select2" name="select2" class="form-control form-control-sm" [(ngModel)]="PeriodSelected">
                    <option value="0">All</option>
                    <option value="1">Custom</option>
                  </select>

                </div>
              </div> -->

<!--             <div class="form-group row" *ngIf="PeriodSelected==1">
                  <label class="col-md-4 col-form-label" for="date-input">Select Date</label>
                  <div class="col-md-8">
                      <div class="col-md-9">
                        <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date">
                      </div>
                  </div>
                </div> -->
            </form>

      </div>
    </div>
  </div>
  <div *ngIf="exist">
<div class="animated fadeIn">
    <div class="card-columns cols-2">

      <div class="card">
        <div class="card-header">
          RadioChart Chart
          <div class="card-header-actions">
           
              <small class="text-muted">Entries Analyzed: {{EntrieAnalyzed}}</small>
            
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>



      <div class="card">
          <div class="card-header">
            DropDown Chart
            <div class="card-header-actions">
             
                <small class="text-muted">Entries Analyzed: {{EntrieAnalyzed}}</small>
              
            </div>
          </div>
          <div class="card-body">
            <div class="chart-wrapper">
              <canvas baseChart class="chart"
              [datasets]="barChartData2"
              [labels]="barChartLabels2"
              [options]="barChartOptions2"
              [legend]="barChartLegend2"
              [chartType]="barChartType2"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>

 

    </div>
  </div>
  </div>

  <div *ngIf="!exist">
    
    <strong>No Insights Available</strong> <br>
   <small> you can analyze certain fields to produce insights like dropdown, rating, checkboxe, date, slider, etc … 
    If your form does not contain any of these fields you will see the No Insights Available error</small>
  </div> 