<div class="animated fadeIn">
<!--   <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card title
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> --><!--/.col-->


    <div class="row">
      <!-- <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Choose Template
          </div>
          <div class="card-body">
            <carousel [interval]="3000">
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=1" alt="First slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=2" alt="Second slide" style="display: block; width: 100%;">
              </slide>
              <slide>
                <img src="https://loremflickr.com/900/500/mountains?lock=3" alt="Third slide" style="display: block; width: 100%;">
              </slide>
            </carousel>
          </div>
        </div>
      </div> -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Available Template
            <small> Choose one ..</small>
          </div>
          <div class="card-body">
            <carousel [interval]="4500">
              <slide>
                <img src="assets/img/template1.PNG" alt="First slide" style="display: block; width: 100%;">
                <div class="carousel-caption " >
                  <h3>Invitation Form</h3>
                  <p>Template of Invitation Form.</p>
                </div>
              </slide>
              <slide>
                <img src="assets/img/template2.PNG" alt="Second slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Contacte Form</h3>
                  <p>Template of Contacte Form.</p>
                </div>
              </slide>
             </carousel>
          </div>
        </div>
      </div>
    </div>



   <!--  <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
        <div class="card-footer">Card footer</div>
      </div>
    </div> --><!--/.col-->
<!--     <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-check"></i>Card with icon
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> --><!--/.col-->
<!--     <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card with switch
          <label class="switch switch-sm switch-text switch-info float-right mb-0">
            <input type="checkbox" class="switch-input">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> --><!--/.col-->
  <!--   <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card with label
          <span class="badge badge-success float-right">Success</span>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> --><!--/.col-->
 <!--    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          Card with label
          <span class="badge badge-pill badge-danger float-right">42</span>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div> --><!--/.col--><!--/.row-->
<!--   <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card border-primary">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> --><!--/.col-->
  <!--   <div class="col-sm-6 col-md-4">
      <div class="card border-secondary">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> --><!--/.col-->
 <!--    <div class="col-sm-6 col-md-4">
      <div class="card border-success">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> --><!--/.col-->
  <!--   <div class="col-sm-6 col-md-4">
      <div class="card border-info">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> --><!--/.col-->
<!--     <div class="col-sm-6 col-md-4">
      <div class="card border-warning">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> --><!--/.col-->
<!--     <div class="col-sm-6 col-md-4">
      <div class="card border-danger">
        <div class="card-header">
          Card outline
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div> --><!--/.col-->
  <!-- </div> --><!--/.row-->

  
 
 
</div>
