<div class="row">
  <div class="col-sm-5">
      <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>Entries
          </div>
          <div class="card-body">
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th> All Forms
                           <div class="btn-group float-right" dropdown>
                              <button type="button" class="btn dropdown-toggle p-0" dropdownToggle>
                                  
                              </button>
                              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu >
                               
                                <a class="dropdown-item" *ngFor="let i of formData" (click)="selectDrop(i.id)">{{i.title}}</a>
                             
                              </div>
                            </div>
                   </th>
                  <th>Created <i class="fa fa-sort" aria-hidden="true"></i></th>
                </tr>
              </thead>
              <tbody *ngIf="selected">
                <tr   *ngFor="let i of selectData; let i=index" (click)="RowSelected(i)" [class.active]="i == selectedRow" >
                  <td>{{i.id}}</td>
                  <td popover="{{i.titleform}}"
                  triggers="mouseenter:mouseleave" popover-append-to-body="true">{{i.titleform}}</td>
                  <td>{{i.date}}</td>
                 
                </tr>
              </tbody>
              <tbody *ngIf="!selected">
                  <tr   *ngFor="let i of responseData; let i=index" (click)="RowSelected(i)" [class.active]="i == selectedRow" >
                    <td>{{i.id}}</td>
                    <td popover="{{i.titleform}}"
                    triggers="mouseenter:mouseleave" popover-append-to-body="true">{{i.titleform}}</td>
                    <td>{{i.date}}</td>
                   
                  </tr>

                </tbody>

            </table>

          </div>
  </div>
  </div>

  <div class="col-sm-7" >
    <div class="card">
      <div class="card-header">
        <strong>Entry View</strong>
        <small>select from the table the desired entry</small>
      </div>
      <div class="card-body">
        <div class="form-group">
          <div *ngFor="let i of contenu;">
            
              <strong>{{i.titre}}</strong>
              <p>{{i.reponse}}</p>
              

          </div>

      </div>
    </div>
  </div><!--/.col-->
  </div>

</div><!--/.row-->



   